# site properties and page defaults
title: Grupo de Investigadores Latitud Cero
subtitle: Somos un grupo conformado por investigadores trabajando en diversas ramas de la física y otras ciencias afines.
description: Somos un grupo conformado por investigadores trabajando en diversas ramas de la física y otras ciencias afines.
header: none
footer: images/background.jpg
baseurl: ""

# site social media and other links
links:
  email: ciencia.latitud0@gmail.com
    #orcid: 0000-0001-8713-9213
    #google-scholar: ETJoidYAAAAJ
  github: ciencialatitud0
  twitter: ciencialatitud0
  youtube: @grupodeinvestigadoreslatit2513

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
